/**********************************
 ********** card **************
 **********************************/
.card
{
    box-sizing: border-box;
    height: 100%;

    color: var(--card-content-color);
    border-radius: 8px;
    background: var(--card-bg);
    box-shadow: var(--card-shadow);
}
.card.auto-height-size
{
    height: auto;
}

.card-box
{
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 13px;
    padding-left: 15px;
}

.card-box + .card-box
{
    margin-top: 55px;
}

.card-header
{
    padding-bottom: 6px;

    border-bottom: 0;
    background-color: var(--card-header-bg);
}

.card-header:after
{
    display: block;
    clear: both;

    content: '';
}

.card-header.bottom-space
{
    padding-bottom: 50px;
}

.card-header .card-title
{
    font-family: var(--font-family-title);
    font-size: 23px;
    line-height: 1.227391;

    position: relative;

    display: inline-block;

    padding-left: 45px;

    vertical-align: top;

    color: var(--card-header-color);
}

.card-header .card-title:before
{
    position: absolute;
    top: 50%;
    left: 14px;

    display: block;

    width: 20px;
    height: 2px;
    margin-top: -7px;

    content: '';

    background: var(--card-header-icon);
}

.card-header .card-title:after
{
    position: absolute;
    top: 50%;
    left: 14px;

    display: block;

    box-sizing: border-box;
    width: 20px;
    height: 8px;
    margin-top: -1px;

    content: '';

    border-top: 2px solid var(--card-header-icon);
    border-bottom: 2px solid var(--card-header-icon);
}

.card-header .card-header-right
{
    float: right;
}

.card-header .card-header-right .timesearch-area
{
    position: relative;

    margin-top: -2px;
}
.card-header .card-header-right .btn-icon:last-child
{
    margin-right: 5px;
}

.card-header .card-header-right .btn-link.btn-back
{
    margin-right: 47px;
}

.card-box .card-content
{
    padding-right: 51px;
    padding-left: 51px;
}

.card-box .card-body.top-spacing
{
    margin-top: 24px;
}
