<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <ul>
    <li><a href="/admin/sensor">admin/sensor/sensor.ejs</a></li>
    <li><a href="/admin/sensor/newsensor">admin/sensor/newSensorPopup.ejs</a></li>
    <li><a href="/admin/sensor/edit">admin/sensor/editPopup.ejs</a></li>
    <li><a href="/admin/sensor/detailregulation">admin/sensor/detailRegulationPopup.ejs</a></li>
    <li><a href="/admin/sensor/scansetting">admin/sensor/scanSettingPopup.ejs</a></li>
    <li><a href="/admin/asset">admin/asset/asset.ejs</a></li>
    <li><a href="/admin/asset/largeregistration">admin/asset/largeRegistrationPopup.ejs</a></li>
    <li><a href="/admin/user">admin/user/user.ejs</a></li>
    <li><a href="/admin/user/general">admin/user/generalPopup.ejs</a></li>
    <li><a href="/admin/group">admin/group/group.ejs</a></li>
    <li><a href="/admin/group/newgroup">admin/group/newGroupPopup.ejs</a></li>
    <li><a href="/admin/system">admin/system/system.ejs</a></li>
  </ul>
</body>
</html>
