@font-face
{
    font-family: 'NotoSans-SemiBold';
    font-weight: normal;
    font-style: normal;

    font-display: fallback;
    src: url('../font/NotoSans/NotoSans-SemiBold.eot');
    src: local(※), url('../font/NotoSans/NotoSans-SemiBold.woff2') format('woff2'), url('../font/NotoSans/NotoSans-SemiBold.woff') format('woff'), url('../font/NotoSans/NotoSans-SemiBold.ttf') format('truetype');
}

@font-face
{
    font-family: 'NotoSans-SemiCondensedMedium';
    font-weight: normal;
    font-style: normal;

    font-display: fallback;
    src: local(※), url('../font/NotoSans/NotoSans-SemiCondensedMedium.woff2') format('woff2'), url('../font/NotoSans/NotoSans-SemiCondensedMedium.woff') format('woff'), url('../font/NotoSans/NotoSans-SemiCondensedMedium.ttf') format('truetype');
}

@font-face
{
    font-family: 'NotoSans-SemiCondensedBold';
    font-weight: normal;
    font-style: normal;

    font-display: fallback;
    src: url('../font/NotoSans/NotoSans-SemiCondensedBold.eot');
    src: local(※), url('../font/NotoSans/NotoSans-SemiCondensedBold.woff2') format('woff2'), url('../font/NotoSans/NotoSans-SemiCondensedBold.woff') format('woff'), url('../font/NotoSans/NotoSans-SemiCondensedBold.ttf') format('truetype');
}

@font-face
{
    font-family: 'NotoSansKR-Regular';
    font-weight: normal;
    font-style: normal;

    font-display: fallback;
    src: url('../font/NotoSans/NotoSansKR-Regular.eot');
    src: local(※), url('../font/NotoSans/NotoSansKR-Regular.woff2') format('woff2'), url('../font/NotoSans/NotoSansKR-Regular.woff') format('woff'), url('../font/NotoSans/NotoSansKR-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'NotoSansKR-Medium';
    font-weight: normal;
    font-style: normal;

    font-display: fallback;
    src: url('../font/NotoSans/NotoSansKR-Medium.eot');
    src: local(※), url('../font/NotoSans/NotoSansKR-Medium.woff2') format('woff2'), url('../font/NotoSans/NotoSansKR-Medium.woff') format('woff'), url('../font/NotoSans/NotoSansKR-Medium.ttf') format('truetype');
}

@font-face
{
    font-family: 'NotoSansKR-Bold';
    font-weight: normal;
    font-style: normal;

    font-display: fallback;
    src: url('../font/NotoSans/NotoSansKR-Bold.eot');
    src: local(※), url('../font/NotoSans/NotoSansKR-Bold.woff2') format('woff2'), url('../font/NotoSans/NotoSansKR-Bold.woff') format('woff'), url('../font/NotoSans/NotoSansKR-Bold.ttf') format('truetype');
}
