<div class="system-content">
  <div class="data-info">
    <dl>
      <dt><%= __("administrationSystem|Manual & FAQ") %></dt>
      <dd>
        <span class="data-text">
          <a href="\pdf\IoTCare_manual.pdf" download="IoTCare Manual"><span id="manualDownLoadBtn" class="new-status cursor-pointer"><%= __("administrationSystem|Download") %></span></a>
        </span>
      </dd>
    </dl>
  </div>
</div>
