<% const timeZoneObj = [
  {iso: "AF", utc: "UTC+04:30", text: "Afghanistan"},
  {iso: "AX", utc: "UTC+02:00", text: "Aland Islands"},
  {iso: "AL", utc: "UTC+01:00", text: "Albania"},
  {iso: "DZ", utc: "UTC+01:00", text: "Algeria"},
  {iso: "AS", utc: "UTC-11:00", text: "American Samoa"},
  {iso: "AD", utc: "UTC+01:00", text: "Andorra"},
  {iso: "AO", utc: "UTC+01:00", text: "Angola"},
  {iso: "AI", utc: "UTC-04:00", text: "Anguilla"},
  {iso: "AQ", utc: "UTC-03:00", text: "Antarctica"},
  {iso: "AG", utc: "UTC-04:00", text: "Antigua and Barbuda"},
  {iso: "AR", utc: "UTC-03:00", text: "Argentina"},
  {iso: "AM", utc: "UTC+04:00", text: "Armenia"},
  {iso: "AW", utc: "UTC-04:00", text: "Aruba"},
  {iso: "AU", utc: "UTC+10:00", text: "Australia"},
  {iso: "AT", utc: "UTC+01:00", text: "Austria"},
  {iso: "AZ", utc: "UTC+04:00", text: "Azerbaijan"},
  {iso: "BS", utc: "UTC-05:00", text: "Bahamas The UTC"},
  {iso: "BH", utc: "UTC+03:00", text: "Bahrain"},
  {iso: "BD", utc: "UTC+06:00", text: "Bangladesh"},
  {iso: "BB", utc: "UTC-04:00", text: "Barbados"},
  {iso: "BY", utc: "UTC+03:00", text: "Belarus"},
  {iso: "BE", utc: "UTC+01:00", text: "Belgium"},
  {iso: "BZ", utc: "UTC-06:00", text: "Belize"},
  {iso: "BJ", utc: "UTC+01:00", text: "Benin"},
  {iso: "BM", utc: "UTC-04:00", text: "Bermuda"},
  {iso: "BT", utc: "UTC+06:00", text: "Bhutan"},
  {iso: "VE", utc: "UTC-04:30", text: "Bolivarian Republic of Venezuela UTC"},
  {iso: "BO", utc: "UTC-04:00", text: "Bolivia"},
  {iso: "BQ", utc: "UTC-04:00", text: "Bonaire, Sint Eustatius and Saba"},
  {iso: "BA", utc: "UTC+01:00", text: "Bosnia and Herzegovina"},
  {iso: "BW", utc: "UTC+02:00", text: "Botswana"},
  {iso: "BV", utc: "UTC+00:00", text: "Bouvet Island"},
  {iso: "BR", utc: "UTC-03:00", text: "Brazil"},
  {iso: "IO", utc: "UTC+06:00", text: "British Indian Ocean Territory UTC"},
  {iso: "BN", utc: "UTC+08:00", text: "Brunei"},
  {iso: "BG", utc: "UTC+02:00", text: "Bulgaria"},
  {iso: "BF", utc: "UTC+00:00", text: "Burkina Faso"},
  {iso: "BI", utc: "UTC+02:00", text: "Burundi"},
  {iso: "CV", utc: "UTC-01:00", text: "Cabo Verde"},
  {iso: "KH", utc: "UTC+07:00", text: "Cambodia"},
  {iso: "CM", utc: "UTC+01:00", text: "Cameroon"},
  {iso: "CA", utc: "UTC-05:00", text: "Canada"},
  {iso: "KY", utc: "UTC-05:00", text: "Cayman Islands"},
  {iso: "CF", utc: "UTC+01:00", text: "Central African Republic UTC"},
  {iso: "TD", utc: "UTC+01:00", text: "Chad"},
  {iso: "CL", utc: "UTC-03:00", text: "Chile"},
  {iso: "CN", utc: "UTC+08:00", text: "China"},
  {iso: "CX", utc: "UTC+07:00", text: "Christmas Island"},
  {iso: "CC", utc: "UTC+06:30", text: "Cocos Keeling Islands"},
  {iso: "CO", utc: "UTC-05:00", text: "Colombia"},
  {iso: "KM", utc: "UTC+03:00", text: "Comoros"},
  {iso: "CG", utc: "UTC+01:00", text: "Congo"},
  {iso: "CD", utc: "UTC+01:00", text: "Congo (DRC)"},
  {iso: "CK", utc: "UTC-10:00", text: "Cook Islands"},
  {iso: "CR", utc: "UTC-06:00", text: "Costa Rica"},
  {iso: "CI", utc: "UTC+00:00", text: "Côte d'Ivoire"},
  {iso: "HR", utc: "UTC+01:00", text: "Croatia"},
  {iso: "CU", utc: "UTC-05:00", text: "Cuba"},
  {iso: "CW", utc: "UTC-04:00", text: "Curaçao"},
  {iso: "CY", utc: "UTC+02:00", text: "Cyprus"},
  {iso: "CZ", utc: "UTC+01:00", text: "Czech Republic"},
  {iso: "TL", utc: "UTC+09:00", text: "Democratic Republic of Timor-Leste"},
  {iso: "DK", utc: "UTC+01:00", text: "Denmark"},
  {iso: "DJ", utc: "UTC+03:00", text: "Djibouti"},
  {iso: "DM", utc: "UTC-04:00", text: "Dominica"},
  {iso: "DO", utc: "UTC-04:00", text: "Dominican Republic"},
  {iso: "EC", utc: "UTC-05:00", text: "Ecuador"},
  {iso: "EG", utc: "UTC+02:00", text: "Egypt"},
  {iso: "SV", utc: "UTC-06:00", text: "El Salvador"},
  {iso: "GQ", utc: "UTC+01:00", text: "Equatorial Guinea"},
  {iso: "ER", utc: "UTC+03:00", text: "Eritrea"},
  {iso: "EE", utc: "UTC+02:00", text: "Estonia"},
  {iso: "ET", utc: "UTC+03:00", text: "Ethiopia"},
  {iso: "FK", utc: "UTC-03:00", text: "Falkland Islands (Islas Malvinas)"},
  {iso: "FO", utc: "UTC+00:00", text: "Faroe Islands"},
  {iso: "FJ", utc: "UTC+12:00", text: "Fiji Islands"},
  {iso: "FI", utc: "UTC+02:00", text: "Finland"},
  {iso: "FR", utc: "UTC+01:00", text: "France"},
  {iso: "GF", utc: "UTC-03:00", text: "French Guiana"},
  {iso: "PF", utc: "UTC-10:00", text: "French Polynesia"},
  {iso: "TF", utc: "UTC+05:00", text: "French Southern and Antarctic Lands"},
  {iso: "GA", utc: "UTC+01:00", text: "Gabon"},
  {iso: "GM", utc: "UTC+00:00", text: "Gambia, The"},
  {iso: "GE", utc: "UTC+04:00", text: "Georgia"},
  {iso: "DE", utc: "UTC+01:00", text: "Germany"},
  {iso: "GH", utc: "UTC+00:00", text: "Ghana"},
  {iso: "GI", utc: "UTC+01:00", text: "Gibraltar"},
  {iso: "GR", utc: "UTC+02:00", text: "Greece"},
  {iso: "GL", utc: "UTC-03:00", text: "Greenland"},
  {iso: "GD", utc: "UTC-04:00", text: "Grenada"},
  {iso: "GP", utc: "UTC-04:00", text: "Guadeloupe"},
  {iso: "GU", utc: "UTC+10:00", text: "Guam"},
  {iso: "GT", utc: "UTC-06:00", text: "Guatemala"},
  {iso: "GG", utc: "UTC+00:00", text: "Guernsey"},
  {iso: "GN", utc: "UTC+00:00", text: "Guinea"},
  {iso: "GW", utc: "UTC+00:00", text: "Guinea-Bissau"},
  {iso: "GY", utc: "UTC-04:00", text: "Guyana"},
  {iso: "HT", utc: "UTC-05:00", text: "Haiti"},
  {iso: "HM", utc: "UTC+04:00", text: "Heard Island and McDonald Islands"},
  {iso: "HN", utc: "UTC-06:00", text: "Honduras"},
  {iso: "HK", utc: "UTC+08:00", text: "Hong Kong SAR"},
  {iso: "HU", utc: "UTC+01:00", text: "Hungary"},
  {iso: "IS", utc: "UTC+00:00", text: "Iceland"},
  {iso: "IN", utc: "UTC+05:30", text: "India"},
  {iso: "ID", utc: "UTC+07:00", text: "Indonesia"},
  {iso: "IR", utc: "UTC+03:30", text: "Iran"},
  {iso: "IQ", utc: "UTC+03:00", text: "Iraq"},
  {iso: "IE", utc: "UTC+00:00", text: "Ireland"},
  {iso: "IL", utc: "UTC+02:00", text: "Israel"},
  {iso: "IT", utc: "UTC+01:00", text: "Italy"},
  {iso: "JM", utc: "UTC-05:00", text: "Jamaica"},
  {iso: "SJ", utc: "UTC+01:00", text: "Jan Mayen"},
  {iso: "JP", utc: "UTC+09:00", text: "Japan"},
  {iso: "JE", utc: "UTC+00:00", text: "Jersey"},
  {iso: "JO", utc: "UTC+02:00", text: "Jordan"},
  {iso: "KZ", utc: "UTC+06:00", text: "Kazakhstan"},
  {iso: "KE", utc: "UTC+03:00", text: "Kenya"},
  {iso: "KI", utc: "UTC+12:00", text: "Kiribati"},
  {iso: "KR", utc: "UTC+09:00", text: "Korea"},
  {iso: "XK", utc: "UTC+01:00", text: "Kosovo"},
  {iso: "KW", utc: "UTC+03:00", text: "Kuwait"},
  {iso: "KG", utc: "UTC+06:00", text: "Kyrgyzstan"},
  {iso: "LA", utc: "UTC+07:00", text: "Laos"},
  {iso: "LV", utc: "UTC+02:00", text: "Latvia"},
  {iso: "LB", utc: "UTC+02:00", text: "Lebanon"},
  {iso: "LS", utc: "UTC+02:00", text: "Lesotho"},
  {iso: "LR", utc: "UTC+00:00", text: "Liberia"},
  {iso: "LY", utc: "UTC+02:00", text: "Libya"},
  {iso: "LI", utc: "UTC+01:00", text: "Liechtenstein"},
  {iso: "LT", utc: "UTC+02:00", text: "Lithuania"},
  {iso: "LU", utc: "UTC+01:00", text: "Luxembourg"},
  {iso: "MO", utc: "UTC+08:00", text: "Macao SAR"},
  {iso: "MK", utc: "UTC+01:00", text: "Macedonia, Former Yugoslav Republic of Macedonia, Former Yugoslav Republic of"},
  {iso: "MG", utc: "UTC+03:00", text: "Madagascar"},
  {iso: "MW", utc: "UTC+02:00", text: "Malawi"},
  {iso: "MY", utc: "UTC+08:00", text: "Malaysia"},
  {iso: "MV", utc: "UTC+05:00", text: "Maldives"},
  {iso: "ML", utc: "UTC+00:00", text: "Mali"},
  {iso: "MT", utc: "UTC+01:00", text: "Malta"},
  {iso: "IM", utc: "UTC+00:00", text: "Man Isle of"},
  {iso: "MH", utc: "UTC+12:00", text: "Marshall Islands"},
  {iso: "MQ", utc: "UTC-04:00", text: "Martinique"},
  {iso: "MR", utc: "UTC+00:00", text: "Mauritania"},
  {iso: "MU", utc: "UTC+04:00", text: "Mauritius"},
  {iso: "YT", utc: "UTC+03:00", text: "Mayotte"},
  {iso: "MX", utc: "UTC-06:00", text: "Mexico"},
  {iso: "FM", utc: "UTC+10:00", text: "Micronesia"},
  {iso: "MD", utc: "UTC+02:00", text: "Moldova"},
  {iso: "MC", utc: "UTC+01:00", text: "Monaco"},
  {iso: "MN", utc: "UTC+08:00", text: "Mongolia"},
  {iso: "ME", utc: "UTC+01:00", text: "Montenegro"},
  {iso: "MS", utc: "UTC-04:00", text: "Montserrat"},
  {iso: "MA", utc: "UTC+00:00", text: "Morocco"},
  {iso: "MZ", utc: "UTC+02:00", text: "Mozambique"},
  {iso: "MM", utc: "UTC+06:30", text: "Myanmar"},
  {iso: "NA", utc: "UTC+01:00", text: "Namibia"},
  {iso: "NR", utc: "UTC+12:00", text: "Nauru"},
  {iso: "NP", utc: "UTC+05:45", text: "Nepal"},
  {iso: "NL", utc: "UTC+01:00", text: "Netherlands"},
  {iso: "NC", utc: "UTC+11:00", text: "New Caledonia"},
  {iso: "NZ", utc: "UTC+12:00", text: "New Zealand"},
  {iso: "NI", utc: "UTC-06:00", text: "Nicaragua"},
  {iso: "NE", utc: "UTC+01:00", text: "Niger"},
  {iso: "NG", utc: "UTC+01:00", text: "Nigeria"},
  {iso: "NU", utc: "UTC-11:00", text: "Niue"},
  {iso: "NF", utc: "UTC+11:00", text: "Norfolk Island"},
  {iso: "KP", utc: "UTC+09:00", text: "North Korea"},
  {iso: "MP", utc: "UTC+10:00", text: "Northern Mariana Islands UTC"},
  {iso: "NO", utc: "UTC+01:00", text: "Norway"},
  {iso: "OM", utc: "UTC+04:00", text: "Oman"},
  {iso: "PK", utc: "UTC+05:00", text: "Pakistan"},
  {iso: "PW", utc: "UTC+09:00", text: "Palau"},
  {iso: "PS", utc: "UTC+02:00", text: "Palestinian Authority"},
  {iso: "PA", utc: "UTC-05:00", text: "Panama"},
  {iso: "PG", utc: "UTC+10:00", text: "Papua New Guinea"},
  {iso: "PY", utc: "UTC-04:00", text: "Paraguay"},
  {iso: "PE", utc: "UTC-05:00", text: "Peru"},
  {iso: "PH", utc: "UTC+08:00", text: "Philippines"},
  {iso: "PN", utc: "UTC-08:00", text: "Pitcairn Islands"},
  {iso: "PL", utc: "UTC+01:00", text: "Poland"},
  {iso: "PT", utc: "UTC+00:00", text: "Portugal"},
  {iso: "PR", utc: "UTC-04:00", text: "Puerto Rico"},
  {iso: "QA", utc: "UTC+03:00", text: "Qatar"},
  {iso: "RE", utc: "UTC+04:00", text: "Reunion"},
  {iso: "RO", utc: "UTC+02:00", text: "Romania"},
  {iso: "RU", utc: "UTC+03:00", text: "Russia"},
  {iso: "RW", utc: "UTC+02:00", text: "Rwanda"},
  {iso: "BL", utc: "UTC-04:00", text: "Saint Barthelemy"},
  {iso: "SH", utc: "UTC+00:00", text: "Saint Helena, Ascension and Tristan da Cunha"},
  {iso: "KN", utc: "UTC-04:00", text: "Saint Kitts and Nevis"},
  {iso: "LC", utc: "UTC-04:00", text: "Saint Lucia"},
  {iso: "MF", utc: "UTC-04:00", text: "Saint Martin French part"},
  {iso: "PM", utc: "UTC-03:00", text: "Saint Pierre and Miquelon"},
  {iso: "VC", utc: "UTC-04:00", text: "Saint Vincent and the Grenadines"},
  {iso: "WS", utc: "UTC+13:00", text: "Samoa"},
  {iso: "SM", utc: "UTC+01:00", text: "San Marino"},
  {iso: "ST", utc: "UTC+00:00", text: "São Tomé and Príncipe"},
  {iso: "SA", utc: "UTC+03:00", text: "Saudi Arabia"},
  {iso: "SN", utc: "UTC+00:00", text: "Senegal"},
  {iso: "RS", utc: "UTC+01:00", text: "Serbia"},
  {iso: "SC", utc: "UTC+04:00", text: "Seychelles"},
  {iso: "SL", utc: "UTC+00:00", text: "Sierra Leone"},
  {iso: "SG", utc: "UTC+08:00", text: "Singapore"},
  {iso: "SX", utc: "UTC-04:00", text: "Sint Maarten (Dutch part)"},
  {iso: "SK", utc: "UTC+01:00", text: "Slovakia"},
  {iso: "SI", utc: "UTC+01:00", text: "Slovenia"},
  {iso: "SB", utc: "UTC+11:00", text: "Solomon Islands"},
  {iso: "SO", utc: "UTC+03:00", text: "Somalia"},
  {iso: "ZA", utc: "UTC+02:00", text: "South Africa"},
  {iso: "GS", utc: "UTC-02:00", text: "South Georgia and the South Sandwich Islands"},
  {iso: "SS", utc: "UTC+03:00", text: "South Sudan"},
  {iso: "ES", utc: "UTC+01:00", text: "Spain"},
  {iso: "LK", utc: "UTC+05:30", text: "Sri Lanka"},
  {iso: "SD", utc: "UTC+03:00", text: "Sudan"},
  {iso: "SR", utc: "UTC-03:00", text: "Suriname"},
  {iso: "SJ", utc: "UTC+01:00", text: "Svalbard"},
  {iso: "SZ", utc: "UTC+02:00", text: "Swaziland"},
  {iso: "SE", utc: "UTC+01:00", text: "Sweden"},
  {iso: "CH", utc: "UTC+01:00", text: "Switzerland"},
  {iso: "SY", utc: "UTC+02:00", text: "Syria"},
  {iso: "TW", utc: "UTC+08:00", text: "Taiwan"},
  {iso: "TJ", utc: "UTC+05:00", text: "Tajikistan"},
  {iso: "TZ", utc: "UTC+03:00", text: "Tanzania"},
  {iso: "TH", utc: "UTC+07:00", text: "Thailand"},
  {iso: "TG", utc: "UTC+00:00", text: "Togo"},
  {iso: "TK", utc: "UTC+13:00", text: "Tokelau"},
  {iso: "TO", utc: "UTC+13:00", text: "Tonga"},
  {iso: "TT", utc: "UTC-04:00", text: "Trinidad and Tobago"},
  {iso: "TN", utc: "UTC+01:00", text: "Tunisia"},
  {iso: "TR", utc: "UTC+02:00", text: "Turkey"},
  {iso: "TM", utc: "UTC+05:00", text: "Turkmenistan"},
  {iso: "TC", utc: "UTC-05:00", text: "Turks and Caicos Islands"},
  {iso: "TV", utc: "UTC+12:00", text: "Tuvalu"},
  {iso: "UM", utc: "UTC-11:00", text: "U.S. Minor Outlying Islands UTC"},
  {iso: "UG", utc: "UTC+03:00", text: "Uganda"},
  {iso: "UA", utc: "UTC+02:00", text: "Ukraine"},
  {iso: "AE", utc: "UTC+04:00", text: "United Arab Emirates"},
  {iso: "GB", utc: "UTC+00:00", text: "United Kingdom"},
  {iso: "US", utc: "UTC-08:00", text: "United States"},
  {iso: "UY", utc: "UTC-03:00", text: "Uruguay"},
  {iso: "UZ", utc: "UTC+05:00", text: "Uzbekistan"},
  {iso: "VU", utc: "UTC+11:00", text: "Vanuatu"},
  {iso: "VA", utc: "UTC+01:00", text: "Vatican City"},
  {iso: "VN", utc: "UTC+07:00", text: "Vietnam"},
  {iso: "VI", utc: "UTC-04:00", text: "Virgin Islands US"},
  {iso: "VG", utc: "UTC-04:00", text: "Virgin Islands, British"},
  {iso: "WF", utc: "UTC+12:00", text: "Wallis and Futuna"},
  {iso: "YE", utc: "UTC+03:00", text: "Yemen"},
  {iso: "ZM", utc: "UTC+02:00", text: "Zambia"},
  {iso: "ZW", utc: "UTC+02:00", text: "Zimbabwe"}
] %>
<%
  const timeZoneSorting = timeZoneObj.map(function(element){
    let utctime = element.utc.replace('UTC', '');
    const mn = utctime.slice(0,1)
    const hh = Number(utctime.slice(1).split(":")[0]);
    const mm = Number(utctime.slice(1).split(":")[1]);
    utctime = (hh*60 + mm) * (mn == '+'? 1 : -1);
    return { ...element, utctime: utctime }
  }).sort(function(a, b){
    if (a.utctime > b.utctime) return 1;
    if (a.utctime < b.utctime) return -1;
    if (a.text < b.text) return -1;
    if (a.text > b.text) return 1;
  })
%>
<% if (timeZoneType == 'localutc') {
  const sameTimeZone = timeZoneSorting.filter(function(element){
    return 'UTC'+localutc == element.utc;
  });
  iso = (sameTimeZone && sameTimeZone[0].iso) || 'GB';
} %>

<% for(let t = 0; t < timeZoneSorting.length; t++){ %>
<% const data = timeZoneSorting[t] %>
<option data-iso="<%= data.iso %>" <% if (iso == data.iso) { %>selected<% } %> value='<%= data.utc %>'>(<%= data.utc %>) <%= data.text %></option>
<% } %>
