/**********************************
 ********** grid breakpoint **************
 **********************************/
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px) !default;

/**********************************
 ********** grid containers **************
 **********************************/
$grid-gutter: 30px !default;
$grid-columns: 12 !default;
